<!-- group menu -->
<div class="btn-group dropdown">
    <div class="ohnet-group-menu-bar" data-toggle="dropdown" data-animate="fadeIn">
      <span class="fa fa-cog"></span>
    </div>
    <ul class="dropdown-menu" ng-if="_isArray()">
      <li ng-repeat="o in source.menu.node" data-id="{{o._id}}" ng-class="{'disabled':o._disabled==1}">
          <div data-ohnet-ui-group-menu-item data-source="o" data-id="{{o._id}}" data-ui-type="group-menu-item" data-module="{{module}}" data-node-type="regular"></div>
      </li>
    </ul>
    <ul class="dropdown-menu" ng-if="!_isArray()">
      <li data-id="{{source.menu.node._id}}" ng-class="{'disabled':source.menu.node._disabled==1}">
          <div data-ohnet-ui-group-menu-item data-source="source.menu.node" data-id="{{source.menu.node._id}}" data-ui-type="group-menu-item" data-module="{{module}}" data-node-type="regular"></div>
      </li>
    </ul>
</div>