<div class="modal pop-menu fade" data-backdrop="static">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <!--
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'general.close' | translate}}</span></button> -->
      <h4 class="modal-title">{{translate(source.title) | translate}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-sm">
          <div class="pop-menu-content"></div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-disabled="_ineditor>0" ng-click="_cancel()">{{ generalTranslate('cancel') | translate}}</button>
        <button class="btn btn-primary" ng-disabled="_ineditor>0" ng-click="_save()">{{ generalTranslate('save') | translate}}</button>
      </div>
    </div>
  </div>
</div>